{% extends 'base.html' %}   

{% load static %}



{% block contenido %}
<center>
<div class ="container-fluid" style="margin: 200px;">
    <h1>Categorías: {{ categoria_nombre }}</h1>
    <br>
    <ul>
    {% for categoria in categorias %}
        <li>{{ categoria.nombre }}</li>
        (<a style="color:black"
            href="{% url 'apps.posts:categoria_delete' pk=categoria.pk %}">Eliminar</a>)
    {% empty %}
        <li>No hay categorías disponibles.</li>
    {% endfor %}
    </ul>
    
</div>
</center>
{%endblock%}