{% extends 'base.html' %}
{% load static %}


{% block contenido %}
<center>
    <div class="container-fluid" style="margin: 200px;">
    <h1>Crear Nueva Categoría</h1>
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value= "Agregar">
    </form>
    <div class= "container-fluid" style="margin-top: 300px;">
        <a href="{% url 'apps.posts:categoria_list' %}">Listar todas las Categorías</a>
    </div>

</center>

{% endblock contenido %}