{% extends 'base.html' %}
{% load static %}


{% block contenido %}
<center>
    <div class="container-fluid" style="margin: 200px;">
    <div class="container-fluid" style="margin-top: 300px;">
        <a id="boton__post" href="{% url 'apps.posts:crear_categoria' %}">Crear Nueva Categoría</a>
    </div>

    <h1>Crear Nuevo Post</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value= "Guardar">
    </form>
    </div>

</center>

{% endblock contenido %}