{% extends 'base.html' %}   

{% load static %}

{% load colaborador_tags %}

{% block contenido %}
<div class ="container-fluid" style="margin: 200px;">

{% if user.is_superuser or request.user|has_group:"Colaborador" %}

    <div class="container-fluid" style="margin-top: 300px;">    
        <a id="boton__post" href="{% url 'apps.posts:crear_post' %}">Crear Nuevo Post</a>
    </div>
{% endif %}

<h2>Ordenar por:</h2>
<form method="get">
    <select name="orden" onchange="this.form.submit()">
        <option value="reciente" {% if orden == 'reciente' %}selected{% endif %}>Más recientes</option>
        <option value="antiguo" {% if orden == 'antiguo' %}selected{% endif %}>Más antiguos</option>
        <option value="alfabetico" {% if orden == 'alfabetico' %}selected{% endif %}>Alfabéticamente</option>
    </select>
</form>

    {% for i in posts %}
        <br>
        <li>{{ i.titulo }}</li>
        <li>{{ i.subtitulo }}</li>
        <li>{{ i.categoria}}</li>
        <br>
        <a id="boton_post" href="{% url 'apps.posts:post_individual' i.id %}"> 
            Ingresar al post_individual  
        </a>
        {% empty %}
        <li>No hay posts disponibles.</li>

    {% endfor %}
    
</div>

{%endblock%}