{% extends 'base.html' %}   

{% load colaborador_tags %}

{% block contenido %}
<center>
    {% if user.is_superuser or request.user|has_group:"Colaborador" %}
    <div class="container-fluid" style="margin:400px;">
        <h1>Eliminar Usuario</h1><br>
        <p>¿Estás seguro de que deseas eliminar tu cuenta?</p>
        <form method="post">
            {% csrf_token %}
            <label for="eliminar_comentarios">¿Deseas eliminar comentarios del Usuario?</label>
            <input type="checkbox" id="eliminar_comentarios" name="eliminar_comentario">
            <br><br>
            {% if es_colaborador %}
                <label for="eliminar_posts">¿Deseas eliminar los posts del Usuario?</label>
                <input type="checkbox" id="eliminar_posts" name="eliminar_posts">
                <br><br>
            {% endif %}

            <input type="submit" value="Eliminar Usuario" class="btn btn-danger">   
            <a style="color: black;" href="{% url 'apps.usuario:usuario_list' %}" class="btn btn-secondary">Cancelar</a>

        </form>
    </div>
    {% else %}
        <div class="container-fluid" style="margin:300px;">
            <h1>Solo los usuarios con permiso pueden acceder a esta página</h1>
        </div>
    {% endif %}%}
</center>
{%endblock contenido%}